<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>쉬운 Thymeleaf 템플릿</title>
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
	<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
	<script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
	<style type="text/css">
		div {margin: 10px; padding: 15px; border: 1px solid gray; border-radius: 20px;}
		table, td, th { border: 1px solid gray; padding: 5px;}
	</style>
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
</head>
<body>
	<div>
	<img src="/images/helloworld.jpg" alt="Hello World Logo" /> <br />
	서버시간 : [(${today})] <br />
	<a href="/" class="btn btn-sm btn-outline-success">Home</a>
	</div>
	<div>
	<h3><b>연산</b></h3>
	<hr />
	<ul>
		<li>10 + 3 = <span th:text="10 + 3"></span></li>
		<li>10 - 3 = <span th:text="10 - 3"></span></li>
		<li>10 * 3 = <span th:text="10 * 3"></span></li>
		<li>10 / 3 = <span th:text="10 / 3"></span></li>
		<li>10 % 3 = <span th:text="10 % 3"></span></li>
		<li>1 < 10 = <span th:text="1 < 10"></span></li>
		<li>1 lt 10 = <span th:text="1 lt 10"></span></li>
		<li>1 <= 10 = <span th:text="1 <= 10"></span></li>
		<li>1 le 10 = <span th:text="1 le 10"></span></li>
		<li>1 > 10 = <span th:text="1 > 10"></span></li>
		<li>1 gt 10 = <span th:text="1 gt 10"></span></li>
		<li>1 >= 10 = <span th:text="1 >= 10"></span></li>
		<li>1 ge 10 = <span th:text="1 ge 10"></span></li>
		<li>1 == 10 = <span th:text="1 == 10"></span></li>
		<li>1 eq 10 = <span th:text="1 eq 10"></span></li>
		<li>1 != 10 = <span th:text="1 != 10"></span></li>
		<li>1 ne 10 = <span th:text="1 ne 10"></span></li>
		<li>(10 % 2 == 0)? '짝수':'홀수' = <span th:text="(10 % 2 == 0)? '짝수':'홀수'"></span></li>
		<li>${data}?: '데이터가 없습니다.' = <span th:text="${data}?: '데이터가 없습니다.'"></span></li>
		<li>${nullData}?: '데이터가 없습니다.' = <span th:text="${nullData}?: '데이터가 없습니다.'"></span></li>
		<li>${data}?: _ = <span th:text="${data}?: _">데이터가 없습니다.</span></li>
		<li>${nullData}?: _ = <span th:text="${nullData}?: _">데이터가 없습니다.</span></li>
	</ul>
	<hr />
	<a href="/" class="btn btn-sm btn-outline-success">Home</a>
	</div>

</body>
</html>