<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>쉬운 Thymeleaf 템플릿</title>
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
	<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
	<script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
	<style type="text/css">
		div {margin: 10px; padding: 15px; border: 1px solid gray; border-radius: 20px;}
		table, td, th { border: 1px solid gray; padding: 5px;}
	</style>
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
	<!--/*
	프래그먼트 표현식 의 구문은 매우 간단합니다. 세 가지 형식이 있습니다.
	"~{templatename::selector}"  templatename이라는 템플릿파일에 지정된 
	Markup Selector를 적용한 결과 조각을 포함합니다. 
	selector단순한 프래그먼트 이름일 수 있으므로 아래와 같이 간단하게 지정할 수 있습니다. 
	~{footer :: copy}.
	
	"~{templatename}"라는 전체 템플릿을 포함합니다 templatename.
	
	~{::selector}"또는 "~{this::selector}"일치하는 동일한 템플릿의 단편을 삽입합니다 
	
	templatename위의 예에서 및 모두 selector다음과 같이 완전한 기능을 갖춘 표현식(조건문도!)이 될 수 있습니다.	
	
	th:insert와 th:replace 차이

	th:insert단순히 지정된 조각을 호스트 태그의 본문으로 삽입합니다.
	th:replace실제로 해당 호스트 태그를 지정된 조각으로 바꿉니다 .	
	
	*/-->
</head>
<body>
	<div>
	<img src="/images/helloworld.jpg" alt="Hello World Logo" /> <br />
	서버시간 : [(${today})] <br />
	<a href="/" class="btn btn-sm btn-outline-success">Home</a>
	</div>
	<div>
	<h3><b>문서포함</b></h3>
	<hr />
	<div th:replace="~{comm/headers :: header}"></div>
	<div>
	    <h1>Page Body</h1>
	</div>
	<div th:replace="~{comm/footers :: footer}"></div>
	<hr />
	<div th:insert="~{comm/headers :: header}"></div>
	<div>
	    <h1>Page Body</h1>
	</div>
	<div th:insert="~{comm/footers :: footer}"></div>
	<hr />
	<div th:replace="~{comm/headers :: header2('한사람','22')}"></div> <!-- 인수전달 -->
	<div th:replace="~{comm/headers :: header2('두사람','34')}"></div> <!-- 인수전달 -->
	<div th:replace="~{comm/footers :: #footer2}"></div> <!-- id를 삽입 -->
	<hr />
	<a href="/" class="btn btn-sm btn-outline-success">Home</a>
	</div>

</body>
</html>