<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>bucketList</title>
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css">
	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
	<script src="/webjars/bootstrap/5.3.0/dist/js/bootstrap.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
	<script src="https://kit.fontawesome.com/013ab40b7f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/bucketList.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.0.js"
		integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
	<style>
		table {
			width: 100%; border: none; padding: 5px;
		}
		th {
			border: 1px solid gray; padding: 5px; background-color: rgb(251, 179, 179);
			text-align: center;
		} 
		td {
			border: 1px solid gray; padding: 5px;  text-align: center;
		}
		a:link { text-decoration: none; color: black;} /* 링크 */
		a:hover { text-decoration: none; color: black; font-weight: bolder;} /* 마우스 올라왔을떄 */
		a:active { text-decoration: none; color: black;} /* 클릭했을때 */
		a:visited { text-decoration: none; color: black;} /* 방문 했던곳 */
	</style>
	
	<script>
		function setCount() {
			//alert(document.querySelector("#cnt").value);
			let size = document.querySelector("#cnt").value;
			let p = [(${pv.currentPage})];
			let s = size;
			let b = [(${pv.sizeOfBlock})];
			location.href = "?p=" + p + "&s=" + s + "&b=" + b;
		}
	</script>

</head>

<body>
	<header id="header">

		<div class="header_logo">
			<a href="/member/home">
				<i class="fa-regular fa-heart" style="color: #f55656;"></i>
			</a>
		</div>

		<ul class="header_menu">
			<li><a href="/member/home">home</a></li>
			<li><a href="">공지사항</a></li>
			<li><a href=""><i class="fa-solid fa-bars" style="color: #f26977;"></i></a></li>
		</ul>

	</header>
	<div class="p-2 mb-5 text-center bg-light">
		<h2 class="mb-3">버킷리스트</h2>
	</div>

	<div class="container">
		<table>
			<tr>
				<td colspan="4" style="text-align: right; border: none;">
					[[${pv.getPageInfo()}]]
					<select id="cnt" onchange="setCount()">
						<option value="5" th:selected="${pv.sizeOfPage==5}"> 5개씩 보기</option>
						<option value="10" th:selected="${pv.sizeOfPage==10}">10개씩 보기</option>
						<option value="20" th:selected="${pv.sizeOfPage==20}">20개씩 보기</option>
						<option value="50" th:selected="${pv.sizeOfPage==50}">50개씩 보기</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>번호</th>
				<th>작성자</th>
				<th>카테고리</th>
				<th style="width: 60%;">내용</th>
				<th>작성일</th>
				<th>완료 여부</th>
				<th>완료일</th>
			</tr>
			<!-- 글이 있다면 반복문으로 출력 -->
			<th:block th:if="${pv.totalCount gt 0}">
				<tr th:each="vo, vs : ${pv.list}" onmouseover="this.style.backgroundColor='rgb(254, 231, 231)'"
					onmouseout="this.style.backgroundColor='white'">
					<!-- 
						 글 번호에 아이디를 출력하지 않고 글번호는 계산해서 출력하자
						 시작번호 = 전체개수 - (현재페이지 -1) * 페이지당 글수
						 글번호 = 시작번호 - 반복횟수
						 반복문에 변수 2개를 쓰면 첫번째 변수는 값이고, 두번째 변수는 상태값이다.
					-->
					<td>[[${pv.totalCount-(pv.currentPage-1) * pv.sizeOfPage - vs.index}]]</td>
					<td>[[${vo.Member_name}]]</td>
					<td>[[${vo.category}]]</td>
					<td>[[${vo.content}]]</td>
					<td>[[${vo.regdate}]]</td>
					<td>[[${vo.comcheck}]]</td>
					<td>[[${vo.comdate}]]</td>
				</tr>
			</th:block>
			<!-- 글이 없다면 반복문으로 출력 -->
			<th:block th:if="${pv.totalCount eq 0}">
				<tr>
					<td colspan="4" style="text-align: center;">등록된 글이 없습니다.</td>
				</tr>
			</th:block>
			<tr>
				<td colspan="4" style="text-align: right; border: none;">
					<button class="btn btn-sm btn-outline-success" th:onclick="|location.href='@{insert(p=${bv.p},b=${bv.b},s=${bv.s})}'|">새글쓰기</button>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="text-align: right; border: none;">[(${pv.getPageList2()})]</td>
			</tr>

		</table>
	</div>

</body>

</html>